{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Tables</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="{% url 'main-view' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Tables</li>
            </ol>

            <div class="card mb-4">

                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Doctor</th>
                                <th>Date</th>
                                <th>reason</th>
                                <th>status</th>
                                <th>modifier RDV</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in appointments %}

                            <tr>
                                <td>{{p.doctor}}</td>
                                <td>{{p.date}}</td>
                                <td>{{p.reason}}</td>
                                <td>{{p.status}}</td>
                                <td>
                                    <a href="{% url 'update-appointment' p.id %}" class="btn btn-info"><i class="fas fa-edit"></i><i></i></a>
                                    <a href="{% url 'delete-appointment' p.id %}" class="btn btn-danger"><i class="fas fa-trash"></i><i></i></a>
                                </td>
                        
                            </tr>

                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/static/assets/js/datatables-simple-demo.js"></script>

{% endblock javascripts %}
